* {
    box-sizing: border-box;
  }

  p.generic {
    font-size: 23px;
    color: rgb(0,0,100);
    text-align: center;
    text-shadow: 0 0 3px rgb(60,160,60);
    font-family: "Arial";
  }

  .flex-container {
    display: flex;
    background-color: rgb(255,255,255);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex-item-left {
    background-color: rgb(255,255,255);
    padding: 30px 20px;
  }

  .flex-item-right {
    background-color: rgb(255,255,255);
    padding: 10px 20px;
  }

  canvas {
      border-style: solid;
      border-width: 2px;
      border-color: green;
      background: rgb(11,200,200);
      display: inline-block;
  }

  div.animjs {
    margin: 30px;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url('/homepage/images/game/js_icon.png');
    background-size: 100%;
    position: relative;
    animation-name: anim1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  div.animhtml {
    float: left;
    margin: 30px;
    width: 70px;
    height: 70px;
    background-image: url('/homepage/images/game/html_icon.png');
    background-size: 100%;
    position: relative;
    animation-name: anim2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


  div.animbootstrap {
    float: left;
    margin: 30px;
    width: 70px;
    height: 70px;
    background-image: url('/homepage/images/game/bootstrap_icon.png');
    background-size: 100%;
    position: relative;
    animation-name: anim3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes anim1 {
    0%   {left:0px; top:0px;}
    25%  {left:100px; top:0px;}
    100%  {left:0px; top:0px;}
  }

  @keyframes anim2 {
    0%   {left:200px; top:0px;}
    25%  {left:200px; top:100px;}
    100%  {left:200px; top:0px;}
  }

  @keyframes anim3 {
    0%   {left:300px; top:0px;}
    25%  {left:400px; top:0px;}
    100%  {left:300px; top:0px;}
  }


  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media only screen and (max-width: 600px) {
      /* For mobile phones: */

      .flex-container {
        flex-direction: column;
      }

      @keyframes anim1 {
        0%   {left:0px; top:0px;}
        25%  {left:50px; top:0px;}
        100%  {left:0px; top:0px;}
      }

      @keyframes anim2 {
        0%   {left:0px; top:0px;}
        25%  {left:0px; top:50px;}
        100%  {left:0px; top:0px;}
      }

      @keyframes anim3 {
        0%   {left:0px; top:0px;}
        25%  {left:50px; top:0px;}
        100%  {left:0px; top:0px;}
      }
  }
